{% extends 'layout.html'%}

{% block css %}
    <link rel="stylesheet" href="/static/plugin/bootstrap-select-1.13.9/dist/css/bootstrap-select.css"/>
    <style>
        .edit-body{
            padding-left: 20px;
        }
        .information{
            margin: 20px 5px;
            width: 500px;
            padding: 20px 0;
        }
        .information label{
            margin-top: 5px;
            font-size: 17px;
        }
        .information-class{
            margin: 15px 5px 0 5px;
            width: 600px;
            padding: 20px 0 0 0;
            display: flex;
        }
        .information-class label{
            margin-top: 5px;
            font-size: 17px;
        }
    </style>
{% endblock %}

{% block xx%}
<head>
    <meta charset="UTF-8">
</head>
<body>
    <ol class="breadcrumb">
              <li><a href="/top/">首页</a></li>
              <li><a href="/student/">学生管理</a></li>
               <li><a href="#">编辑学生</a></li>
    </ol>
    <div class="edit-body">

            <div class="information">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="姓名" value="{{result.name}}">
                </div>
            </div>
            <div class="information">
                <label for="student_id" class="col-sm-2 control-label">学号</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="student_id" placeholder="学号" value="{{result.student_id}}" disabled>
                </div>
            </div>
            <div class="information">
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sex" placeholder="性别" value="{{result.sex}}">
                </div>
            </div>
            <div class="information">
                <label for="nation" class="col-sm-2 control-label">民族</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nation" placeholder="民族" value="{{result.nation}}">
                </div>
            </div>
            <div class="information">
                <label for="native-place" class="col-sm-2 control-label">籍贯</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="native-place" placeholder="籍贯" value="{{result.native_place}}">
                </div>
            </div>
            <div class="information">
                <label for="birth" class="col-sm-2 control-label">生日</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="birth" placeholder="生日" value="{{result.birth_date}}">
                </div>
            </div>
            <div class="information">
                <label for="tel" class="col-sm-2 control-label">电话</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="tel" name="tel" placeholder="电话" value="{{result.telephone}}">
                </div>
            </div>
            <div class="form-group information-class">
                    <label for="class_id" class="col-sm-2 control-label">专业</label>
                    <select name="major" class="selectpicker" id="major" type="text">
                    </select>
            </div>
            <div class="form-group information-class">
                    <label for="class_id" class="col-sm-2 control-label">所属班级</label>
                    <select name="class_id" class="selectpicker" id="class_id" type="text">
                    </select>
            </div>
            <input style="display: none" id="edit_id" value="{{result.id}}"/>
            <input style="display: none" id="class_list" value="{{class_list}}"/>
            <input style="display: none" id="class_id1" value="{{result.class_id}}"/>
            <input id="edit" class="btn btn-lg btn-primary" style="margin: 30px 20px;" type="submit" value="提交"/>
            <input id="back" class="btn btn-lg btn-danger" style="margin: 30px 20px;" type="submit" value="返回"/>

    </div>
</body>
{%endblock%}

    {% block js %}
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/static/plugin/bootstrap-select-1.13.9/dist/js/bootstrap-select.js"></script>
        <script src="/static/plugin/bootstrap-select-1.13.9/dist/js/i18n/defaults-zh_CN.js"></script>
        <script src="/static/plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $('#edit').click(function () {
                    $.ajax({
                        url: '/edit_student/',
                        type: 'POST',
                        data: {'name': $('#name').val(), 'sex': $('#sex').val(), 'nation': $('#nation').val(),
                            'native_place': $('#native-place').val(), 'birth_date': $('#birth').val(), 'telephone': $('#tel').val(),
                            'major_name': $('#major option:selected').text(),
                            'class_id': $('#class_id').val(), 'nid': $('#edit_id').val()},
                        success: function (arg) {
                            arg = JSON.parse(arg);
                            if(arg.status)
                            {
                                var myMessage=confirm("修改成功");
                                if(myMessage==true)
                                {
                                    location.href='/student/';
                                }
                                else if(myMessage==false)
                                {
                                    location.href='/student/';
                                }
                            }
                            else
                            {
                                alert(arg.message);
                            }
                        }
                    })
                })
                $('#back').click(function () {
                    window.history.go(-1);
                });
            });
            function LoadData() {
                var clist = $('#class_list').val();
                var mlist = eval("{{ major|safe}}");
                clist = eval(clist);
                var result = [];
                var major_list = [];
                var cid = $('#class_id1').val();
                for(var i=0;i<clist.length;i++)
                {
                     var data = clist[i];
                    if (cid == i+1)
                    {result.push('<option value="'+ data.id + '" selected>' + data.title + '</option>');}
                    else
                    {result.push('<option value="'+ data.id + '">' + data.title + '</option>');}
                }
                $('#class_id').html(result.join(''));
                for(var k=0;k<mlist.length;k++)
                {
                    var m = mlist[k];
                    major_list.push('<option value="'+ m.major_number + '">' + m.major_name + '</option>');

                }
                $('#major').html(major_list.join(''));
            }
            $(function () {
                LoadData();
                $('.selectpicker').selectpicker('refresh');
                $('.selectpicker').selectpicker('render');
            }
        );
        </script>
    {% endblock %}